.box {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}
.box::before {
  @apply bg-fg-primary;
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 2px;
  width: 2px;
  max-width: 2px;
  min-height: 6px;
  height: 6px;
  max-height: 6px;
  border-radius: 100px;
  animation: box 1s linear infinite;
}

.box:nth-child(1)::before {
  opacity: 1;
  animation-delay: 0;
}
.box:nth-child(2)::before {
  opacity: 0.1;
  animation-delay: -0.9167s;
}
.box:nth-child(3)::before {
  opacity: 0.2;
  animation-delay: -0.833s;
}
.box:nth-child(4)::before {
  opacity: 0.3;
  animation-delay: -0.7497s;
}
.box:nth-child(5)::before {
  opacity: 0.35;
  animation-delay: -0.667s;
}
.box:nth-child(6)::before {
  opacity: 0.4;
  animation-delay: -0.5837s;
}
.box:nth-child(7)::before {
  opacity: 0.45;
  animation-delay: -0.5s;
}
.box:nth-child(8)::before {
  opacity: 0.5;
  animation-delay: -0.4167s;
}
.box:nth-child(9)::before {
  opacity: 0.6;
  animation-delay: -0.333s;
}
.box:nth-child(10)::before {
  opacity: 0.7;
  animation-delay: -0.2497s;
}
.box:nth-child(11)::before {
  opacity: 0.8;
  animation-delay: -0.167s;
}
.box:nth-child(12)::before {
  opacity: 0.9;
  animation-delay: -0.0833s;
}

.box:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg);
}
.box:nth-child(2) {
  transform: translate(-50%, -50%) rotate(30deg);
}
.box:nth-child(3) {
  transform: translate(-50%, -50%) rotate(60deg);
}
.box:nth-child(4) {
  transform: translate(-50%, -50%) rotate(90deg);
}
.box:nth-child(5) {
  transform: translate(-50%, -50%) rotate(120deg);
}
.box:nth-child(6) {
  transform: translate(-50%, -50%) rotate(150deg);
}
.box:nth-child(7) {
  transform: translate(-50%, -50%) rotate(180deg);
}
.box:nth-child(8) {
  transform: translate(-50%, -50%) rotate(210deg);
}
.box:nth-child(9) {
  transform: translate(-50%, -50%) rotate(240deg);
}
.box:nth-child(10) {
  transform: translate(-50%, -50%) rotate(270deg);
}
.box:nth-child(11) {
  transform: translate(-50%, -50%) rotate(300deg);
}
.box:nth-child(12) {
  transform: translate(-50%, -50%) rotate(330deg);
}

@keyframes box {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}
